<div class="row marketing">
  <h2> Alarms </h2>
  <form>
    <div class="form-group">
      <label for="newAlarm">Add a new Alarm!</label>
      <textarea ng-model="newAlarm.description" class="form-control" id="newAlarm" rows="3"></textarea>
    </div>
    <div ng-if="newAlarm.error">{{newAlarm.error}}</div>
    <button class="btn" ng-disabled="newAlarm.isDisabled" ng-click="addAlarm()">Create</button>
  </form>
  <table class="table">
    <tbody>
      <tr ng-repeat="alarm in alarms">
        <th>{{alarm.upvotes.length}} </th>
        <th>{{alarm.description}} {{upvoting[alarm.id]}} </th>
        <th><button class="btn btn-xs btn-primary" ng-disabled="upvoting[alarm.id]" ng-click="upvote(alarm)">Upvote!</button></th>
      </tr>
    </tbody>
</div>
