<div class="row marketing">
  <h2> Alarms </h2>
  <form>
    <div class="form-group">
      <label for="newAlarm">Add a new Alarm!</label>
      <textarea ng-model="newAlarm.description" class="form-control" id="newAlarm" rows="3"></textarea>
    </div>
    <div ng-if="newAlarm.error">{{newAlarm.error}}</div>
    <button class="btn" ng-disable="newAlarm.isDisabled" ng-click="addAlarm()">Create</button>
  </form>
  <div ng-repeat="alarm in alarms">
    <span>{{alarm.upvotes.length}} </span>
    <span>{{alarm.description}} </span>
    <button class="btn btn-xs btn-primary" ng-click="upvote(alarm)">Upvote!</button>
  </div>
</div>
